.all-title-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeebeb;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 30px;
}
.all-title{
    width: 470px;
}
.title{
    width: 350px;
    font-size: 45px;
    margin: 20px;
}
.dream{
    color: blue;
}
.title-bar{
    width: 387px;
    margin: 20px;
}
.btn-start{
    background:linear-gradient(90deg, #9b8bf5 0%, #c263ee 100%);
    color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;

}
.img{
    width: 500px;
    padding-left: 50px;

}