.navbar{
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    
}
.title-bar{
    width: 320px;
    margin: 10px;
}
.menu-bar {
    width: 450px;
}
.menu-bar a{
    padding: 30px;
}
.jobs{
    color: #490eec;
    font-size: 20px;
}
.applied-job{
    font-size: 20px;
    color: #757575;
}
.btn-apply{
    background: linear-gradient(90deg, #3acadd 0%, #6538e0 100%);
    color: white;
    border: 1px solid #3acadd;
    border-radius: 8px;
}

