.navbar{
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    
}
.title-bar{
    width: 340px;
    text-align: center;
    margin: 10px;
}
.menu-bar {
    width: 480px;
}
.menu-bar a{
    padding: 30px;
}
.jobs{
    color:  #8f65f1;
    font-size: 20px;
    text-align: center;
}
.applied-job{
    font-size: 20px;
    color: #757575;
}
.btn-apply{
    background: linear-gradient(90deg, #9b8bf5 0%, #c263ee 100%);
    color: white;
    border-radius: 8px;
}

